* {
	padding: 0;
	margin: 0;
}

body {
    padding-left: 3em;
    display: flex;
    flex-direction: column;
}

header {
    position: fixed;
}

#dropdownButton {
    position: fixed;
    left: 0em;
    width: 3em;
    height: 3em;
    padding: 0%;
    transition: left 0.25s;
}

#dropdownButton img {
    width: 30%;
}

#dropdownMenu {
    position: fixed;
    width: 20em;
    height: 100%;
    left: -20em;
    top: 0em;
    transition: left 0.25s;

    background-color: black;
    box-shadow: 0em 0em 2em #00000044;
}

#dropdownMenu button {
    width: 100%;
    border-radius: 0em;
    margin: 0em;
}

button {
    background-color: #222222;
    color: white;
    margin: 0.25em;
    padding: 1em;
    border-style: none;
    border-radius: 1em;
    transition: box-shadow 1s;
}

button:hover {
    background-color: #333333;
}