* {
	padding: 0;
	margin: 0;
}

body {
    padding-left: 3em;
    display: flex;
    flex-direction: column;
}

header {
    position: fixed;
}

/* DROPDOWN GROUP */
#dropdown {
    position: fixed;
    left: 0em;
    height: 100%;
    transition: left 0.2s;
}

/* DROPDOWN BUTTON */
#dropdownButton {
    position: absolute;
    left: 0em;
    width: 3em;
    height: 3em;
    padding: 0%;
    transition: box-shadow background-color 0.2s;

    margin: 0.25em;
}

#dropdownButton img {
    width: 30%;
    box-shadow: 0em 0em 2em #00000044;
}

/* DROPDOWN MENU AND BUTTONS */
#dropdownMenu {
    position: absolute;
    width: 20em;
    height: 100%;
    left: -20em;
    top: 0em;

    background-color: black;
    box-shadow: 0em 0em 2em #00000044;
}

#dropdownMenu button {
    width: 100%;
    border-radius: 0em;
    margin: 0em;
    margin-bottom: 1px;
    transition: background-color 0.05s;
}

button {
    background-color: #111111;
    color: white;
    padding: 1em;
    border-style: none;
    border-radius: 1em;
    transition: box-shadow 1s;
}

button:hover {
    background-color: #222222;
}