* {
		padding: 0;
		margin: 0;
	}

body {
	background-color: #ce97b0;
	padding: 8px;
}

header {
	overflow: hidden;
}

p {
	font-family: 'Caladea', serif;
	margin-left: 8px;
	margin-right: 8px;
	font-style: italic;
}

h1 {
	font-family: 'Caladea', serif;
	font-style: italic;
	font-size: 64px;
}

#Images {
	position: relative;
	display: flex;
	flex-direction: column;
	max-width: 502px;
	background-color: white;
	padding-top: 8px;
	padding-bottom: 8px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 8px;
}

img {
	width: 100%;
	filter: grayscale(50%);
	opacity: 0.75;
	margin-bottom: 4px;
}

img:hover {
	filter: grayscale(0%);
	opacity: 1;
}

a {
	display: block;
  	color: #111111;
  	background-color: white;
  	float: left;
  	text-align: center;
  	padding: 8px 8px;
  	font-family: 'Caladea', serif;
  	font-style: italic;
  	text-decoration: none;
  	border-radius: 8px;
}

a:hover {
	background-color: black;
	color: white;
}
