:root {
	--special-color: blue;

	--bg-c: var(--special-color); /*background color*/
	--fg-c: white; /*foreground color*/

	--s-bg-c: white; /*section background color*/
	--s-fg-c: var(--special-color); /*section foreground color*/

	--b-n-bg-c: var(--special-color); /*button normal background color */
	--b-n-fg-c: white; /*button normal foreground color */
	--b-h-bg-c: black; /*button hover background color */
	--b-h-fg-c: white; /*button hover foreground color */
}

* {
	padding: 0;
	margin: 0;
}

body {
	background-color: var(--bg-c);
	color: var(--fg-c);
	padding: 0px;
}

header {
	background-color: var(--s-bg-c);
	color: var(--s-fg-c);

	display: flex;
	position: fixed;
  	top: 0;
  	width: 100%;
	overflow: hidden;
	padding: 4px;
	z-index: 1000;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
	transition: box-shadow 0.25s;
}

header:hover {
	box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
}

footer {
	background-color: var(--b-h-bg-c);
	color: var(--b-h-fg-c);

	display: flex;
  	width: 100%;
	overflow: hidden;
	padding: 4px;
	z-index: 1000;
}

footer p {
	color: var(--b-h-fg-c);
}

button {
	background-color: var(--b-n-bg-c);
	color: var(--b-n-fg-c);

	display: block;
  	float: left;
  	text-align: center;
  	margin: 4px;
  	padding: 8px 8px;
  	font-size: 16px;
  	font-family: 'Caladea', serif;
  	font-style: italic;
  	text-decoration: none;
  	border-radius: 8px;
  	border: none;
}

button:hover {
	background-color: var(--b-h-bg-c);
	color: var(--b-h-fg-c);
}

section {
	padding: 4px;
}

p {
	color: var(--fg-c);

	font-family: 'Caladea', serif;
	margin-left: 8px;
	margin-right: 8px;
	font-style: italic;
}

h1 {
	color: var(--fg-c);

	font-family: 'Caladea', serif;
	font-style: italic;
	font-size: 64px;
}

#Images {
	display: flex;
	justify-content: center;
}

#ImageGroupContainer {
	padding: 4px;
	content: "";
  	clear: both;
  	display: flex;
  	flex-direction: row;
  	flex-wrap: wrap;
  	justify-content: center;
}

.ImageContainer {
	background-color: var(--s-bg-c);
	color: var(--s-fg-c);

	display: flex;
	flex-direction: column;
	float: left;
	max-width: 502px;
	padding: 8px 8px 8px 8px;
	padding-bottom: 25;
	margin: 4px;
	border-radius: 8px;
	transition: box-shadow 0.25s;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.ImageContainer:hover {
	z-index: 100;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
}

.ImageContainer img {
	width: 100%;
	border-radius: 8px;
}

.ImageContainer p {
	color: var(--s-fg-c);

	float: left;
	text-align: center;
	font-size: 24px;
	line-height: 2.5;
}
