* {
		padding: 0;
		margin: 0;
	}

body {
<<<<<<< HEAD
	background-color: blue;
	padding: 0px;
=======
	background-color: black;
	padding: 8px;
>>>>>>> 6161ec7d35fcda79b5bdc248e86c77971b3c9944
}

header {
	overflow: hidden;
	background-color: white;
	padding: 4px;
}

section {
	padding: 4px;
}

p {
	font-family: 'Caladea', serif;
	margin-left: 8px;
	margin-right: 8px;
	font-style: italic;
}

h1 {
	font-family: 'Caladea', serif;
	font-style: italic;
	font-size: 64px;
}

#Images {
	display: flex;
	justify-content: center;
}

#ImageGroupContainer {
	padding: 4px;
	content: "";
  	clear: both;
  	display: flex;
  	flex-direction: row;
  	flex-wrap: wrap;
  	justify-content: center;
}

.ImageGroup {
	display: flex;
	flex-direction: column;
	float: left;
	max-width: 502px;
	background-color: white;
<<<<<<< HEAD
	padding-top: 8px;
=======
	padding-top: 10px;
>>>>>>> 6161ec7d35fcda79b5bdc248e86c77971b3c9944
	padding-bottom: 8px;
	margin: 4px;
	border-radius: 8px;
}

.ImageGroup img {
	width: 100%;
<<<<<<< HEAD
	margin-top: 2px;
	margin-bottom: 2px;
=======
	filter: grayscale(50%);
	opacity: 0.75;
	margin-bottom: 4px;
}

img:hover {
	filter: grayscale(0%);
	opacity: 1;
>>>>>>> 6161ec7d35fcda79b5bdc248e86c77971b3c9944
}

a {
	display: block;
  	color: white;
  	background-color: blue;
  	float: left;
  	text-align: center;
  	margin: 4px;
  	padding: 8px 8px;
  	font-family: 'Caladea', serif;
  	font-style: italic;
  	text-decoration: none;
  	border-radius: 8px;
  	border: none;
}

a:hover {
	background-color: black;
	color: white;
}
